@model SitefinityWebApp.Mvc.ViewModels.LaunchViewModel
@{
    var status = "";
}

<div class="jumbotron">

    <h2 class="-bold">
        @ViewBag.Title
    </h2>
    @if (Model != null)
    {
        <h1>@Model.Name</h1>
        <p>
            @ViewBag.FlightNumberLabel @Model.FlightNumber
        </p>
        <p>
            @ViewBag.MissionStatusLabel @ViewBag.StatusMessage
        </p>}
    else
    {
        <h3 class="-bold">
            @ViewBag.DisabledModule
        </h3>
    }
</div>